.wrap{
    background: hsla(60, 70%, 40%, .1);
    /*Centers photos */
    text-align: center;
    /*white-space: nowrap;*/
    /*Kills inline-block white-space:
    http://codepen.io/chriscoyier/pen/hmlqF*/
    /*font-size: 0px;*/
}

md-card {
    padding: 2px;
}
.thumbnail{
    /*font-size: 12px;*/
    display: inline-block;
    padding: 1%;
    width: 100%;
    float: left;
    border: none !important;
    /* Add a border to see the .thumbnail viewbox */
    /*border: 1px dotted black;*/
}


/*Media Queries - Width*/
@media all and (min-width: 27em) and (max-width: 40em) {
    .thumbnail{
        width: 50%;
    }
    .thumbnail:nth-child(2n+3) {
        clear:both;
    }
}

@media all and (min-width: 40em) and (max-width: 60em) {
    .thumbnail{
        width: 33.33%;
    }
    .thumbnail:nth-child(3n+4) {
        clear:both;
    }
}

@media all and (min-width: 60em) {
    .thumbnail {
        width: 20%;
    }
    .thumbnail:nth-child(5n+6) {
        clear:both;
    }
}

/* detail */
.photo-container {
    padding: 2%;
}

.photo-image {
    width: 100%;
    padding: 0;
}

.photo-label {
    color: gray;
    font-weight: bold;
}