form.form-search {
    padding: 10px;
}

.search-container {
    position: relative;
    padding: 0;
}
i.waiter-search {
    position: absolute;
    color: gray;
    top: 0;
    bottom: 0;
    right: 0;
    padding: 10px;
}


button.btn-search {
    position: absolute;
    color: gray;
    top: 0;
    bottom: 0;
    padding: 10px;
    border: none;
    background: none;
}
button.btn-search:focus {
    outline: none;
}

button.btn-search:hover {
    position: absolute !important;
    color: dimgray;
    top: 0;
    bottom: 0;
    padding: 10px;
    border: none;
    background: none;
}

input.input-search {
    padding-left: 32px;
}