<div class="photo-container">
    <img ng-src="{{photo.imageUrl}}" class="photo-image">

    <h3>{{photo.title}}</h3>

    <div ng-if="photo.description"><span class="photo-label">Description:</span> {{photo.description}}</div>
    <div ng-if="photo.dates.lastupdate"><span class="photo-label">Last update:</span> {{photo.dates.lastupdate | date }}
    </div>
    <div ng-if="photo.dates.posted"><span class="photo-label">Posted:</span> {{photo.dates.posted | date}}
    </div>
    <div ng-if="photo.dates.taken"><span class="photo-label">Taken:</span> {{photo.dates.taken | date }}</div>
    <div ng-if="photo.tags"><span class="photo-label">Tags:</span> {{photo.tags}}</div>
</div>