<div class="container-fluid">
    <div class="row">
        <form novalidate ng-submit="search()" class="form-search">
            <div class="search-container">
                <button class="glyphicon glyphicon-search btn-search" aria-hidden="true"></button>
                <input type="text" class="form-control input-search" placeholder="search for" aria-describedby="search"
                       ng-model="searchTerm">
                <i ng-if="isSearching" class="fa fa-circle-o-notch fa-spin waiter-search"></i>
            </div>

            <select ng-model="orderProp">
                <option value="title">Alphabetical</option>
                <option value="dateupload_down">Newest</option>
                <option value="dateupload">Oldest</option>
            </select>
        </form>

        <ul class="photos wrap">
            <li ng-repeat="photo in photos | orderBy:orderProp" class="thumbnail">
                <md-card>
                    <a href="#/photos/{{photo.id}}"><img ng-src="{{photo.imageUrl}}" alt="{{photo.title}}"></a>
                    <a href="#/photos/{{photo.id}}">{{photo.title}}</a>
                    <p>{{ photo.dateupload | date }}</p>
                </md-card>
            </li>
        </ul>
    </div>
</div>
